<div class="container">
  <div style="display: flex; justify-content: center">
    <p style="font-size: 25px; color: purple">&#64;for</p>
  </div>
</div>

<ul>
  @for(fruit of fruits; track $index){
  <li>
    {{ fruit }}
  </li>
  }
</ul>

<hr />
<ul>
  @for(item of items; track i; let i = $index){
  <li>{{ "Index:" + i }} -> {{ item }}</li>
  }
</ul>

<hr />

<ul>
  @for(user of users; track $index; let isFirst = $first ; let isLast = $last;
  let isEven = $even; let isOdd = $odd){
  <li>
    {{ user.name }}
    <span> @if(isFirst){(First)}</span>
    <span> @if(isLast){(Last)}</span>
    <span> @if(isEven){(At Even Plase)}</span>
    <span> @if(isOdd){(At Odd Place)}</span>
  </li>
  }
</ul>
<hr />

<ul>
  @for(product of products; track product.id){
  <li>{{ product.name }}</li>
  }
</ul>

<hr />
<ul>
  @for(product of products; track $index){ @if(product.inStock){
  <li>{{ product.name }}</li>
  } }
</ul>

<hr />
@for(category of categories; track $index){
<h3>{{ category.name }}</h3>
<ul>
  @for(item of category.items; track $index){
  <li>
    {{ item }}
  </li>
  }
</ul>
}

<hr />
<ul>
  @for(item of myObj | keyvalue; track $index){
  <li>{{ item.key }} : {{ item.value }}</li>
  }
</ul>

<hr />
<mat-form-field appearance="outline">
  <mat-label>Choose City </mat-label>
  <mat-select [(ngModel)]="selectedCity">
    @for(city of cities; track $index){
    <mat-option [value]="city">{{ city }}</mat-option>
    }
  </mat-select>
</mat-form-field>
<p>Selected City: {{ selectedCity }}</p>
