<div style="display: flex; justify-content: center">
  <p style="font-size: 25px; color: purple">&#64;switch</p>
</div>
<div class="container">
  <!-- <div [ngSwitch]="userRole">
    <p *ngSwitchCase="'admin'">Welcome Admin</p>
    <p *ngSwitchCase="'guest'">Welcome Guest</p>
    <p *ngSwitchCase="'user'">Welcome User</p>
    <p *ngSwitchDefault>Unknonwn Role</p>
  </div>

  <hr />
  <mat-form-field appearance="outline">
    <mat-label>Select Color</mat-label>
    <mat-select [(ngModel)]="color">
      <mat-option value="RED">RED</mat-option>
      <mat-option value="GREEN">GREEN</mat-option>
      <mat-option value="BLUE">BLUE</mat-option>
    </mat-select>
  </mat-form-field>
  <div [ngSwitch]="color">
    <p *ngSwitchCase="'RED'" style="color: red">RED Selected</p>
    <p *ngSwitchCase="'GREEN'" style="color: green">GREEN Selected</p>
    <p *ngSwitchCase="'BLUE'" style="color: blue">BLUE Selected</p>
  </div>
  <hr />
  <mat-form-field appearance="outline">
    <mat-label>Select Payment Method</mat-label>
    <mat-select [(ngModel)]="paymentMethod">
      <mat-option value="credit">Credit Card</mat-option>
      <mat-option value="paypal">PayPal</mat-option>
      <mat-option value="upi">UPI</mat-option>
    </mat-select>
  </mat-form-field>
  <div [ngSwitch]="paymentMethod">
    <div *ngSwitchCase="'credit'">
      <p>Enter your Credit card details</p>
    </div>
    <div *ngSwitchCase="'paypal'">
      <p>Login with Paypal</p>
    </div>
    <div *ngSwitchCase="'upi'">
      <p>Enter your UPI Id</p>
    </div>
    <div *ngSwitchDefault>
      <p>Please Select a payment method</p>
    </div>
  </div> -->

  <!-- <mat-form-field appearance="outline">
    <mat-label> Select User Role</mat-label>
    <mat-select [(ngModel)]="userRole">
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="user">User</mat-option>
      <mat-option value="guest">Guest</mat-option>
      <mat-option> Unknown</mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- @switch(userRole){ @case('admin'){
  <p>Welcome Admin</p>
  } @case('user'){
  <p>Welcome User</p>
  } @case('guest'){
  <p>Welcome Guest</p>
  } @default {
  <p>Unknown Role</p>
  } } -->

  <!-- With Signals -->
  <mat-form-field appearance="outline">
    <mat-label> Select User Role</mat-label>
    <mat-select
      [value]="userRole()"
      (selectionChange)="userRole.set($event.value)"
    >
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="user">User</mat-option>
      <mat-option value="guest">Guest</mat-option>
      <mat-option> Unknown</mat-option>
    </mat-select>
  </mat-form-field>
  @switch(userRole()){ @case('admin'){
  <p>Welcome Admin</p>
  } @case('user'){
  <p>Welcome User</p>
  } @case('guest'){
  <p>Welcome Guest</p>
  } @default {
  <p>Unknown Role</p>
  } }
</div>
