<div style="display: flex; justify-content: center">
  <p style="font-size: 25px; color: purple">Interpolation (class => view)</p>
</div>
<p>
  My Name: <strong>{{ name }}</strong> My Age: <strong>{{ age }}</strong>
</p>
<p>My name with function call: {{ getName() }}</p>
<p>
  {{ 2 + 3 }}
</p>
<p>
  {{ age + 10 }}
</p>
<p>
  {{ name.toUpperCase() }}
</p>

<p>
  {{ "My name: " + name }}
</p>
<p>
  {{ "My Name: " + "SATISH" }}
</p>
<p>
  {{ age == 25 }}
</p>

<!-- Donts -->

<p>
  <!-- {{age = 10}} -->
</p>
