<div style="display: flex; justify-content: center">
  <p style="font-size: 25px; color: purple">Class Binding (class => view)</p>
</div>

<div [class]="textColor">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eum suscipit
  excepturi do
</div>

<div [class]="textSize">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, asperiores
  obcaecati voluptatum li
</div>

<div [ngClass]="myGroupClasses">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil alias, placeat
  corporis excepturi quidem, itaque iure beatae quisquam pariatur culpa vel,
  assumenda molestiae! Aut repudiandae ab error temporibus. Cupiditate, nisi?
</div>
